<mat-card>
  <mat-card-content>
    <div class="card_container">
      <div class="card_title">
        {{ post.title }}
      </div>
      <mat-divider></mat-divider>
      <div class="card_body">
        {{ post.body }}
      </div>
      <div class="card_footer">
        <div class="footer_button">
          <app-card-post-button
            icon="thumb_up"
            [active]="activeLike"
            (send)="handleButtonLike()"
          >
            {{ post.reactions.likes }} Likes
          </app-card-post-button>
        </div>
        <div class="footer_button">
          <app-card-post-button
            icon="thumb_down"
            [active]="activeDislike"
            (send)="handleButtonDislike()"
          >
            {{ post.reactions.dislikes }} Dislikes
          </app-card-post-button>
        </div>
        <div class="footer_button">
          <app-card-post-button
            icon="visibility"
          >
            {{ post.views }} Vistas
          </app-card-post-button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
