<form (ngSubmit)="handleSubmitReactive()">
  <mat-form-field appearance="fill">
    <mat-label>Ingrese un nombre</mat-label>
    <input
      matInput
      placeholder="Jack, Patrick, Ariel, etc..."
      [formControl]="formControls.names"
    />
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Ingrese una edad</mat-label>
    <input
      matInput
      type="number"
      placeholder="12, 24, 32, etc..."
      [formControl]="formControls.age"
    />
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
