<p>Formulario Reactivo</p>

<form (ngSubmit)="handleSubmitReactive()">
  <input
    type="text"
    placeholder="Nombre"
    [formControl]="formControls.names"
  />
  <input
    type="text"
    placeholder="Edad"
    [formControl]="formControls.age"
  />
  <button type="submit">Submit</button>
</form>

<hr>

<p>Formulario template</p>

<form #formTemplate="ngForm" (ngSubmit)="handleSubmitTemplate(formTemplate)">
  <input type="text" name="names" placeholder="Nombre" ngModel required />
  <input type="text" name="age" placeholder="Edad" ngModel />
  <button type="submit">Submit</button>
</form>
