<mat-card>
  <mat-card-content>
    <div class="card_container">
      <div class="card_title">
        {{ post.title }}
      </div>
      <mat-divider></mat-divider>
      <div class="card_body">
        {{ post.body }}
      </div>
      <div class="card_footer">
        <div class="footer_button">
          <button mat-button type="button">
            {{ post.reactions.likes }} Likes
          </button>
        </div>
        <div class="footer_button">
          <button mat-button type="button">
            {{ post.reactions.dislikes }} Dislikes
          </button>
        </div>
        <div class="footer_button">
          <button mat-button type="button">
            {{ post.views }} Vistas
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
