<mat-card>
  <mat-card-content>
    <div class="card_container">
      <div class="card_title">
        {{ post.title }}
      </div>
      <mat-divider></mat-divider>
      <div class="card_body">
        {{ post.body }}
      </div>
      <div class="card_footer">
        <div class="footer_button">
          <button mat-button type="button">
            <mat-icon fontIcon="thumb_up"></mat-icon>
            <span>{{ post.reactions.likes }} Likes</span>
          </button>
        </div>
        <div class="footer_button">
          <button mat-button type="button">
            <mat-icon fontIcon="thumb_down"></mat-icon>
            <span>{{ post.reactions.dislikes }} Dislikes</span>
          </button>
        </div>
        <div class="footer_button">
          <button mat-button type="button">
            <mat-icon>visibility</mat-icon>
            <span>{{ post.views }} Vistas</span>
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
