<mat-card>
  <mat-card-content>
    <div class="card_container">
      <div class="card_title">
        Aqui va el titulo
      </div>
      <mat-divider></mat-divider>
      <div class="card_body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui culpa enim atque quidem libero labore id ex aspernatur sapiente laudantium, assumenda aut praesentium exercitationem expedita ducimus rerum neque. Sunt, eos.
      </div>
      <div class="card_footer">
        <div class="footer_button">
          <button mat-button type="button">
            Likes
          </button>
        </div>
        <div class="footer_button">
          <button mat-button type="button">
            DisLikes
          </button>
        </div>
        <div class="footer_button">
          <button mat-button type="button">
            Vistas
          </button>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
