<div class="login_container">
  <div class="login_body">
    <div class="input_container">
      <mat-form-field appearance="outline">
        <mat-label>Ingrese un correo:</mat-label>
        <input
          type="email"
          matInput
          placeholder="correo@gmail.com"
        />
      </mat-form-field>
    </div>
    <div class="input_container">
      <mat-form-field appearance="outline">
        <mat-label>Ingrese un contraseña:</mat-label>
        <input
          type="password"
          matInput
        />
      </mat-form-field>
    </div>
  </div>
  <div class="login_footer">
    <button
      mat-raised-button
      color="accent"
    >
      Registrate
    </button>
  </div>
</div>
